<h1>Hello {{firstName}} {{lastName}}!</h1>

<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Schedule</th>
            <th>Honor Roll</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>{{firstName}}</td>
                <td>{{lastName}}</td>
                <td>{{age}}</td>
                <td>{{schedule}}</td>
                <td>{{isHonorRoll}}</td>
            </tr>
    </tbody>
</table>
<a href="/">Go Home</a>